/* Özelleştirmek için CSS kodları */
.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

textarea {
    min-height: 150px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}
