.bgWhite {
    /* background-color: white; */
 }
 .txtsize {
     font-size: 14px;
 }
 .no-border {
     border: none;
 }
 .full-width {
     width: 100%;
 }
 .kline {
     width: 100%;
     height: 2px;
     background-color: red;
 }
 .fstyle {
     /* font-family: 'Times New Roman', Times, serif; */
     font-weight: bold;
     background-color: white;
 }
 .top-div {
     position: absolute;
     top: 30px;
     left: 0;
     width: 100%;
     /* background-color: #f00; /* Arka plan rengi, değiştirebilirsiniz */
     /*  color: #fff; /* Yazı rengi, isteğe bağlı olarak ayarlayabilirsiniz */
     padding: 20px; /* İçerik aralığı, gereksinimlerinize göre değiştirin */
     box-sizing: border-box; /* padding'lerin ve kenar boşluklarının genişliği ile birlikte toplam genişlik / yükseklik belirtin */
     }